@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.main {
    background-color: rgba($indigo-100, 0.1);
    width: 100%;
    padding: 1rem 2rem;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 767px) {
    .main {
        padding: 0.5rem;
    }
}